@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* :root {
    --left-bg-color: rgba(58, 57, 167, 0.7);
    --right-bg-color: rgba(43, 43, 43, .8);
    --left-btn-hover-color: rgba(87, 84, 236, 1);
    --right-btn-hover-color: rgba(26, 122, 28, 1);
    --hover-width: 75%;
    --other-width: 25%;
    --speed: 1000ms;
} */

* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---Code---*/

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

h2 {
    font-size: 40px;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    white-space: nowrap; /*El texto se mantiene en una sola línea, no desborda*/
    color: white;
    white-space: nowrap;
}

.btn {
    display: flex;
    align-items: center;
    position: absolute;
    color: white;
    border: white solid 3px;
    font-size: 16px;
    font-weight: bold;
    transform: translateX(-50%);
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 70px;
    cursor: pointer;
    white-space: nowrap;
}

.mainContent {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(43, 42, 42);
}

.split {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    transition: all 1s ease-in-out;
}

.split.left {
    background: url('./img/ps.jpg') no-repeat center center / cover;
    left: 0;
}

.split.left::before {
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(58, 57, 167, 0.7);
}

.split.right {
    background: url('./img/xbox.jpg') no-repeat center center / cover;
    right: 0;
}

.split.right::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 43, 43, .8);
}

/*---Clases del hover---*/

.split.right,
.split.left,
.split.right::before,
.split.left::before {
    transition: all 1s ease-in-out;
}

/* boton izquierdo */
.split.left .btn:hover {
    background-color: rgba(87, 84, 236, 1);
    border-color: rgba(87, 84, 236, 1);
}

/* boton derecho */
.split.right .btn:hover {
    background-color: rgba(26, 122, 28, 1);
    border-color: rgba(26, 122, 28, 1);
}
.mainContent.hover-left .left {
    width: 75%; /*expande la seccion izquierda*/
}

.mainContent.hover-left .right {
    width: 25%; /*contrae la seccion derecha*/
}

.mainContent.hover-right .left {
    width: 25%; /*contrae la seciion izquierda*/
}

.mainContent.hover-right .right {
    width: 75%;  /*expande la seccion derecha*/
}

@media (max-width: 800px) {

    h2 {
        font-size: 30px;
        top: 30%;
    }

    .split {
        max-width: 50%;
    }

    .btn {
        font-size: 16px;
        right: 20px;
        padding: 10px 50px;
    }
}
